

.body {
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;

}

.container {

  max-width: 1170px;
}

.nav_button {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar {
  margin-top: 35px;
  color: black;
  font-weight: 500;
  background-color: aliceblue;
  background: transparent;
}

.nav {
  margin-top: 25px;
}

.nav-item {
  padding: 16px;
}

.section1 {
  padding-top: 105px;
  align-items: center;
  text-align: center;
  font-size: 48px;
  padding-bottom: 210px;
}

.label1 {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 55px;
}

/* body {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    background: #1e1e24;
    align-items: center;
    justify-content: center;
  } */

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  /* text-transform: uppercase; */
  align-items: center;
  font-size: 16px;
}

.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #ffffff;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: black;
  content: attr(data-back);
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: white;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #dbc65d;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

.project {
  padding-bottom: 110px;
}

.img-responsive {
  width: 340px;
  height: 335px;
  display: flex;
}

shadow.img a:hover {

  opacity: 0.8;



}

/* .img-responsive:hover:after {
    opacity: 1;
    transition: 0.5s;
    
  }
  .img-responsive:hover:before {
    opacity: 0;
    transition: 0.5s; 
    
  } */

.project-row {
  display: flex;
  justify-content: center;
}

.project-item {
  padding: 0px 14px;
}

.project-overlay {
  padding-top: 7px;
  padding-left: 11px;
}


.item-h3 {

  /* font-weight: 100; */
  font-size: 25px
}

.item-h4 {
  font-weight: 50;
  font-size: 15px
}

.row {
  padding-left: 45px;
}

.img-responsivec1 {
  padding: 0px 15px 0px 0px;
}

.img-responsivec2 {
  padding: 5px 15px 10px 0px;
}

.clients {
  padding-bottom: 100px;
}

.footer {
  background-color: black;
}

.f-row {
  color: #ffffff;
  padding: 120px 0px;
  display: flex;
  justify-content: space-around;
}

.footer-1 {

  align-content: center;
}


.f-h4 {
  font-size: 18px;
  font-weight: normal;
}


.contact {
  color: darkgray;

}

.contact-no:link {
  text-decoration: none;
}

.contact-no:visited {
  text-decoration: none;
}

.contact-no:hover {
  text-decoration: underline;
  color: darkgray;
}

.contact-no:active {
  text-decoration: underline;
}

.contact-email:link {
  text-decoration: none;
}

.contact-email:visited {
  text-decoration: none;
}

.contact-email:hover {
  text-decoration: underline;
  color: darkgray;
}

.contact-email:active {
  text-decoration: underline;
}

img.img-responsive.shadow:hover {
  transform: scale(1.03);
  transition: ease-in 0.25s;
}

.btn-twitter {
  background: rgb(27, 27, 27);
  color: #fff;
  border-radius: 35px;
}

.btn-twitter:hover {
  background-color: #dbc65d;
  color: white;
}


.btn-facebook {
  background: rgb(27, 27, 27);
  color: white;
  border-radius: 35px;
}

.btn-facebook:hover {
  background-color: #dbc65d;
  color: white;
}


.btn-instagram {
  background: rgb(27, 27, 27);
  color: #fff;
  border-radius: 100%;
}

.btn-instagram:hover {
  background-color: #dbc65d;
  color: white;
}