.body {
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;

}


.container{
    max-width: 1210px;
}
.nav_button{
    display: flex;
  align-items: center;
justify-content: end;
}

.navbar{
   margin-top:35px; 
   color: black;
   font-weight: 500;
   background-color: aliceblue;
   background: transparent;
}
.nav{
   margin-top: 25px;
}

.nav-item{
    padding: 16px;
}


.row{
    padding: 102px 0px 70px 0px;
  }

  .img-responsive-pi1{
      width: 100%;
      padding-bottom: 100px;
  }
/* ------------------------------------------------------------------------------------------------------------------ */
  .project-details-info{
    color: #656565;
    padding: 20px 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0.5;
    padding-bottom: 35px;
  }                     
  
    .pdi{
      display: flex;
    }
  
    .pdi-row{
      display: flex;
      justify-content: space-around;
    }

   .pdi-p{
     padding-top: 15px;

        font-size: 20px; 
   }       

   .pdi-h3{
     color: black;
   }


   .pdi-link {
     color:#dbc65d; 
   }


   .pdi-link:hover{
     color: black;
   }
/* ---------------------------------------------------------------------------------------------------------------------------- */
.pdi-img{
  display: flex;

}

.img-responsive{
    
    padding: 53px 37px;
}











  /* ---------------------------------------------------------------------------------------------------------------------- */
  .footer{
    background-color: black;
  }
  
  .f-row{
    background-color: black;
    color: white;
    padding: 120px 0px;
    display: flex;
    justify-content: space-around;
  }
  
  .footer-1{
  
    align-content: center;
  }
  
  
  .f-h4{
    font-size: 18px;
    font-weight: normal;
  }
  
  
  .contact{
      color: darkgray;
      
  }
  
  .contact-no:link {
    text-decoration: none;
  }
  
  .contact-no:visited {
    text-decoration: none;
  }
  
  .contact-no:hover {
    text-decoration: underline;
    color: darkgray;
  }
  
  .contact-no:active {
    text-decoration: underline;
  }
  
  .contact-email:link {
    text-decoration: none;
  }
  
  .contact-email:visited {
    text-decoration: none;
  }
  
  .contact-email:hover {
    text-decoration: underline;
    color: darkgray;
  }
  
  .contact-email:active {
    text-decoration: underline;
  }
  
  img.img-responsive.shadow:hover {
    transform: scale(1.03);
    transition: ease-in 0.25s;
  }
  
  .btn-twitter{
    background: rgb(27, 27, 27);
    color: #fff;
  border-radius: 35px; 
  }
  
  .btn-twitter:hover{
    background-color: #dbc65d;
    color: white;
  }
  
  
  .btn-facebook{
    background: rgb(27, 27, 27);
    color: white;
  border-radius: 35px; 
  }
  
  .btn-facebook:hover{
    background-color: #dbc65d;
    color: white;
  }
  
  
  .btn-instagram{
    background: rgb(27, 27, 27);
    color: #fff;
  border-radius: 35px; 
  }
  
  .btn-instagram:hover{
    background-color: #dbc65d;
    color: white;
  }